In [ ]:
from google.colab import files
uploaded=files.upload()

Saving loan.csv.csv to loan.csv (1).csv

In [104]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [105]:
data=pd.read_csv("loan.csv.csv")
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [94]:
data.shape

(614, 13)

In [106]:
#checking the null
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [107]:
numerical_features = data.select_dtypes(include = [np.number]).columns
categorical_features = data.select_dtypes(include = [np.object]).columns
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [108]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [109]:
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])
data['Married'] = data['Married'].fillna(data['Married'].mode()[0])
#replace + with non value 
data['Dependents'] = data['Dependents'].str.replace('+','')
data['Dependents'] = data['Dependents'].fillna(data['Dependents'].mode()[0])
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mode()[0])
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0])
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].mode()[0])
#checking the null values now
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [110]:
data.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [111]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [112]:
data['Gender'].replace({'Male':1,'Female':0},inplace=True)
data['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [113]:
data['Married'].replace({'Yes':1,'No':0},inplace=True)
data['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [114]:
data['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)
data['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [115]:
data['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)
data['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [116]:
data['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)
data['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [117]:
data['Loan_Status'].replace({'Y':1,'N':0},inplace=True)
data['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [120]:
data['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)
data['CoapplicantIncome']=data['CoapplicantIncome'].astype("int64")
data['LoanAmount']=data['LoanAmount'].astype("int64")
data['Loan_Amount_Term']=data['Loan_Amount_Term'].astype("int64")
data['Credit_History']=data['Credit_History'].astype("int64")

In [121]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Loan_ID'] = le.fit_transform(data.Loan_ID)

In [122]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

In [123]:
from imblearn.combine import SMOTETomek

In [124]:
smote = SMOTETomek(0.90)

In [125]:
#dividing the dataset into dependent and independent y and x respectively

y = data['Loan_Status']
x = data.drop(columns=['Loan_Status'],axis=1)

In [126]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [127]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    372
0    329
Name: Loan_Status, dtype: int64

In [128]:
from sklearn.preprocessing import StandardScaler

In [129]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [130]:
x_bal = pd.DataFrame(x_bal)
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.765445,0.521759,-1.222564,-0.707873,0.631824,-0.327757,0.106856,-0.503407,-0.303801,0.29272,0.598771,1.360047
1,-1.759639,0.521759,0.817953,0.347912,0.631824,-0.327757,-0.112282,-0.056349,-0.193170,0.29272,0.598771,-1.209745
2,-1.753832,0.521759,0.817953,-0.707873,0.631824,3.051036,-0.386289,-0.503407,-1.050560,0.29272,0.598771,1.360047
3,-1.748026,0.521759,0.817953,-0.707873,-1.582719,-0.327757,-0.458470,0.195640,-0.303801,0.29272,0.598771,1.360047
4,-1.742219,0.521759,-1.222564,-0.707873,0.631824,-0.327757,0.132993,-0.503407,-0.013395,0.29272,0.598771,1.360047

In [131]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)
(452, 12)
(452,)
(223, 12)
(223,)
x_train

(469, 12)
(469,)
(232, 12)
(232,)

,0,1,2,3,4,5,6,7,8,9,10,11
533,-1.649315,0.521759,-1.222564,-0.707873,-1.582719,-0.327757,-0.065027,-0.503407,-0.193170,0.292720,0.598771,-1.209745
662,-0.389302,-1.916594,-1.222564,-0.707873,-1.582719,-0.327757,-0.476645,-0.030261,-0.580378,0.619344,-1.670087,0.075151
390,0.853293,0.521759,0.817953,1.403697,-1.582719,-0.327757,-0.566654,-0.071765,-1.133533,-0.640488,0.598771,1.360047
393,0.876519,0.521759,0.817953,1.403697,0.631824,-0.327757,-0.237602,-0.503407,-0.635694,0.292720,0.598771,0.075151
544,1.300394,0.521759,0.817953,0.347912,-1.582719,-0.327757,0.145282,-0.006841,0.595075,1.972496,0.598771,-1.209745
...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1.289311,-1.916594,0.817953,1.403697,0.631824,-0.327757,-0.667048,0.054230,0.346156,0.292720,0.598771,1.360047
106,-1.062857,-1.916594,-1.222564,-0.707873,0.631824,-0.327757,-0.184462,-0.503407,-1.354795,0.292720,0.598771,0.075151
270,0.040381,0.521759,-1.222564,-0.707873,-1.582719,-0.327757,-0.398925,0.209573,-0.428261,0.292720,0.598771,0.075151
435,1.149425,0.521759,0.817953,1.403697,0.631824,-0.327757,-0.063469,1.163869,0.913139,0.292720,0.598771,0.075151
102,-1.091890,-1.916594,0.817953,-0.707873,0.631824,-0.327757,-0.357383,0.173406,0.166380,0.292720,0.598771,0.075151

In [132]:
x_test

,0,1,2,3,4,5,6,7,8,9,10,11
680,1.155231,0.521759,0.817953,-0.707873,-1.582719,-0.327757,-0.384905,0.037035,-0.234657,0.292720,-1.670087,0.075151
164,-0.644788,0.521759,-1.222564,-0.707873,0.631824,-0.327757,-0.237775,-0.503407,-0.912271,0.292720,0.598771,0.075151
54,-1.405441,0.521759,0.817953,-0.707873,-1.582719,3.051036,-0.453969,0.519075,0.318498,-2.506906,-1.670087,-1.209745
640,1.253942,-1.916594,-1.222564,-0.707873,0.631824,-0.327757,-0.036812,-0.503407,-0.497405,0.292720,-1.670087,-1.209745
606,-0.128008,0.521759,-1.222564,-0.707873,0.631824,-0.327757,-0.103281,0.036146,-0.262314,0.292720,0.598771,-1.209745
...,...,...,...,...,...,...,...,...,...,...,...,...
664,0.226189,0.521759,-1.222564,-0.707873,-1.582719,-0.327757,0.166400,-0.503407,-0.082539,0.292720,0.598771,-1.209745
464,1.352653,0.521759,-1.222564,1.403697,0.631824,-0.327757,-0.279490,-0.503407,-0.483576,0.292720,0.598771,0.075151
79,-1.237053,0.521759,0.817953,1.403697,0.631824,-0.327757,0.176266,1.172763,0.636562,-2.506906,0.598771,0.075151
23,-1.631896,0.521759,0.817953,1.403697,-1.582719,-0.327757,-0.323110,0.064902,-0.414432,0.292720,-1.670087,-1.209745
15,-1.678348,0.521759,-1.222564,-0.707873,0.631824,-0.327757,-0.048756,-0.503407,-0.234657,0.292720,0.598771,1.360047

In [133]:
y_train

533    0
662    0
390    1
393    1
544    0
      ..
71     0
106    1
270    1
435    1
102    1
Name: Loan_Status, Length: 469, dtype: int64

In [134]:
y_test

680    0
164    1
54     0
640    0
606    0
      ..
664    0
464    1
79     1
23     0
15     1
Name: Loan_Status, Length: 232, dtype: int64